doctype html
html
  head
    title Makao - #{title}
    link(rel='stylesheet' href='stylesheets/style.css')
    block scripts
  body
    header
      p this is a header
    block content
    footer
      p this is a footer
