doctype html
html
  head
    title Gołębnik - #{title}
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='Description' content='Gry online')
    link(rel='stylesheet' href='/stylesheets/style.css')
    block scripts
  body
    block page
