extends base.pug

block page
  div(class='page-padding')
    header(class='py-4 flex justify-between items-center')
      a(href='/' class='font-bold text-blue-700 text-5xl') GOŁĘBNIK
      div
          if user
            p(class='font-bold') #{user.name}
            a(href='/logout' class='text-blue-700') wyloguj
          else
            a(href='/login' class='text-blue-700') zaloguj
    h1(class='bg-blue-700 text-white py-2 pl-5 mb-5 text-xl font-bold') #{title}

    block content

    footer(class='mt-5 text-gray-500 border-gray-300 border-t')
      div(class='py-4')
        //- a(href='/pomoc') pomoc 
        //- || 
        a(href='/contact') kontakt
