extends base.pug

block scripts
  script(src='js/makao.js' defer=true)

block page
  div(class='w-full h-screen bg-blue-300 px-3 pb-5' id='lobby')
    div(class='py-2')
      button(id='newTable') nowy stół
    div(class='w-full h-full bg-white flex')
      div(class='basis-3/4 overflow-y-scroll' id='tables')
        p stoły
      div(class='basis-1/4 overflow-y-scroll' id='users')
        p ludzie
  div(class='w-full h-screen hidden' id='table')
    div(class='w-full h-full bg-white flex flex-col md:flex-row')
      div(class='flex flex-col basis-3/4 bg-green-700 p-5')
        div(class='w-full h-full relative text-white')
          canvas
          div(class='absolute left-0 right-0 top-0 size-full pointer-events-none')
            div(class='hidden mx-auto w-fit bg-white text-black' id='pickSuit')
              p(class='text-center w-full') Wybierz kolor
              button(class='pointer-events-auto' id='pickH') kier
              button(class='pointer-events-auto' id='pickD') karo
              button(class='pointer-events-auto' id='pickS') pik
              button(class='pointer-events-auto' id='pickC') trefl
            div(class='hidden mx-auto w-fit bg-white text-black' id='pickRank')
              p(class='text-center w-full') Wybierz wartość
              button(class='pointer-events-auto pickBtn') 5
              button(class='pointer-events-auto pickBtn') 6
              button(class='pointer-events-auto pickBtn') 7
              button(class='pointer-events-auto pickBtn') 8
              button(class='pointer-events-auto pickBtn') 9
              button(class='pointer-events-auto pickBtn') 10
              button(class='pointer-events-auto pickBtn') Q
        div(class='flex gap-4 justify-center py-5 text-white' id='btnBar')
          button(class='hidden canvas-button' id='drawBtn') bierz
          button(class='hidden canvas-button' id='passBtn') pas
      div(class='basis-1/4 bg-blue-300 p-5')
        button(class='bg-white border-x border-y px-2 hover:bg-gray-100' id='leaveTable') X
        button(class='bg-white border-x border-y px-2 hover:bg-gray-100' id='startGame') start
        div(class='grid grid-cols-2 gap-1 mb-1' id='players')
          div(class='bg-white p-1') -
          div(class='bg-white p-1') -
          //- div(class='bg-white p-1') -
          //- div(class='bg-white p-1') -
        p(id='tableOp')
        div(class='bg-white w-full h-1/2 overflow-y-scroll' id='chatbox')
        form(class='flex' id='chatform')
          input(class='border-x border-y flex-grow' type='text' name='message')
          input(class='border-x border-y px-2 bg-white' type='submit' value='wyślij')
