extends layout.pug

block content
  form(class='flex flex-col items-center gap-2' method='post' action='/register')
    div
      label(class='flex gap-2 mb-2') nazwa:
        input(class='ml-auto' type='text' name='username')
      label(class='flex gap-2') hasło:
        input(class='ml-auto' type='password' name='password')
    input(type='submit' value='zarejestruj')
